<aside class="panel panel-default">
  <header class="panel-heading">Directions API</header>

  <table class="table">
    <thead>
      <tr>
        <th>Rotas</th>
        <th>Distância</th>
        <th>Duração</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="rt in routes">
        <td>{{rt.summary}}</td>
        <td>{{rt.distance}}</td>
        <td>{{rt.duration}}</td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="showRoute(rt)">mapa</button>
        </td>
      </tr>
    </tbody>
  </table>
</aside>

<div ng-show="error_message || status" class="alert alert-danger" role="alert">
  {{error_message}} / {{status}}
</div>
