<div class="col-xs-12 col-sm-6 col-sm-offset-3 ng-scope">
  <aside class="box">
    <h3><b>Usage</b></h3>

    <p>
      Fill <b>origin</b> and <b>destination</b> fields, choose <b>how you goes</b> and submit, below you see the routes with <b>travel time</b> and <b>distance</b>. Can you click in <b>show route</b> button for see into map.
    </p>
  </aside>

  <form ng-submit="search()" name="searchForm">
    <fieldset class="form-group">
      <label for="input-origin">Origin</label>
      <input id="input-origin" type="text" name="origin" ng-model="place.origin" class="form-control"
      autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)">
    </fieldset>

    <fieldset class="form-group">
      <label for="input-destination">Destination</label>
      <input id="input-destination" type="text" name="destination" ng-model="place.destination" class="form-control" autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)">
    </fieldset>

    <fieldset class="radio">
      <label>
        <input type="radio" name="mode" ng-model="place.mode" value="driving">
        Driving
      </label>

      <label>
        <input type="radio" name="mode" ng-model="place.mode" value="bicycling">
        Bicycling
      </label>

      <label>
        <input type="radio" name="mode" ng-model="place.mode" value="walking">
        Walking
      </label>
    </fieldset>

    <fieldset class="checkbox">
      <label>
        <input type="checkbox" name="alternatives" ng-model="place.alternatives" value="false">
        Alternative routes
      </label>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>

    <br><br>
  </form>

  <br>

  <hr style="margin-top: 0;">

  <!-- distance -->
  <div ng-include src="'views/partials/distance.html'"></div>

  <!-- directions -->
  <div ng-include src="'views/partials/directions.html'"></div>

  <!-- map -->
  <div id="map" class="map"></div>
</div>
