<form ng-submit="search()" name="searchForm">
  <fieldset class="form-group">
    <label for="input-origin">Origem</label>
    <input id="input-origin" type="text" name="origin" ng-model="place.origin" class="form-control"
    autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)">
  </fieldset>

  <fieldset class="form-group">
    <label for="input-destination">Destino</label>
    <input id="input-destination" type="text" name="destination" ng-model="place.destination" class="form-control" autocomplete="off" uib-typeahead="address for address in autoComplete($viewValue)">
  </fieldset>

  <fieldset class="radio">
    <label>
      <input type="radio" name="mode" ng-model="place.mode" value="driving">
      Carro
    </label>

    <label>
      <input type="radio" name="mode" ng-model="place.mode" value="bicycling">
      Bicicleta
    </label>

    <label>
      <input type="radio" name="mode" ng-model="place.mode" value="walking">
      Andando
    </label>
  </fieldset>

  <fieldset class="checkbox">
    <label>
      <input type="checkbox" name="alternatives" ng-model="place.alternatives" value="false">
      Rotas alternativas
    </label>
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>

  <br><br>
</form>

<hr style="margin-top: 0;">

<!-- distance -->
<div ng-include src="'views/partials/distance.html'"></div>

<!-- directions -->
<div ng-include src="'views/partials/directions.html'"></div>

<!-- mapa -->
<div id="map" class="map"></div>
